/********** Intro **********/

.imageContainer {
  position: relative;
  background: black;
}

.introImage {
  opacity: .4;
}

.imageTextContainer {
  position: absolute;
  top: 20%;
  left: 6%;
  color: white;
}

.imageTitle {
  font-size: 6vw;
}

/********** Passion **********/

.funFactsContainer1 {
  display: flex;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 120vh;
  max-height: 1200px;
  background: #f0f0f0;
}
@media screen and (max-width: 750px) {
  .funFactsContainer1 {
    flex-direction: column;
    height: 150vh;
  }
}

.selfPortraitContainer {
  width: 30vw;
  max-width: 500px;
}

.selfPortrait {
  max-width: 100%;
  height: auto;
}

.funFactsInfoContainer {
  width: 40vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.funFactsTitle {
  font-size: 2em;
}

/********** Passion **********/

.picturesContainer {
  height: 80vh;
  max-height: 1000px;
  width: 100%;
  display: grid;
  grid-template-areas: 'picture1 picture2 picture3'
                       'picture4 picture5 picture6';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.picture1Container {
  grid-area: 'picture1';
  overflow: hidden;
  position: relative
}

.picture2Container {
  grid-area: 'picture2';
  overflow: hidden;
  position: relative;
}

.picture3Container {
  grid-area: 'picture3';
  overflow: hidden;
  position: relative;
}

.picture4Container {
  grid-area: 'picture4';
  overflow: hidden;
  position: relative;
}

.picture5Container {
  grid-area: 'picture5';
  overflow: hidden;
  position: relative;
}

.picture6Container {
  grid-area: 'picture6';
  overflow: hidden;
  position: relative;
}

.picture {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-width: 200%;
  max-height: 200%;
}

@media screen and (max-width: 1000px) {
  .picturesContainer {
    grid-template-areas: 'picture1 picture2'
                         'picture3 picture4'
                         'picture5 picture6';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}