/********** Intro **********/

.imageContainer {
  background: black;
  height: 100vh;
}

.introImage {
  opacity: .4;
  animation: fadeIn ease 2s;
  pointer-events: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: .4; }
}

.imageTextContainer {
  position: absolute;
  top: 20%;
  left: 6%;
  color: white;
}

.imageTitle {
  font-size: 6vw;
}

/********** Fun Facts **********/

.funFactsContainer1 {
  display: flex;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: #f0f0f0;
}

.selfPortraitContainer {
  width: 30vw;
  max-width: 500px;
}

.selfPortrait {
  max-width: 100%;
  height: auto;
}

.funFactsInfoContainer {
  width: 40vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.funFactsTitle {
  font-size: 2em;
}

@media screen and (max-width: 560px) {
  .funFactsContainer1 {
    flex-direction: column;
  }
  .selfPortraitContainer {
    width: 50vw;
  }
  .funFactsInfoContainer {
    width: 80vw;
  }
}

/********** Pictures **********/

.picturesContainer {
  height: 55vw;
  position: relative;
}

.sprite_image {
  position: absolute;
}

@media screen and (max-width: 800px) {
  .picturesContainer {
    height: 75vw;
  }
}

/********** More Facts **********/

.funFactsContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.funFactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20vh 0;
}

.description {
  width: 500px;
  margin: 25px;
  text-align: center;
}

.circleImageContainer {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 25px;
  position: relative;
}

.imageLeft {
  order: 1;
}

.descriptionRight {
  order: 2;
}

@media screen and (max-width: 560px) {
  .funFactContainer {
    flex-direction: column;
  }
  .circleImageContainer {
    width: 300px;
    height: 300px;
  }
  .description {
    width: 80vw;
  }
}