/********** Nav Bar **********/

.navBarContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}

.brand {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}
.brand:hover {
  color: white;
}

.navLink {
  color:#7a7d7f;
  margin: 0 10px;
}
.navLink:hover {
  text-decoration: none;
  color:#e1a87a;
}

.navLinks {
  margin: 0 auto;
}

.contactContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* new navbar stuff */
.navbar {
  text-align: right;
}

/********** Footer **********/

.footerContainer {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
}

.footerTitle {
  color: white;
  font-size: 3.2em;
}

.linksContainer {
  display: flex;
  width: 80%;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
}

.links {
  color: white;
  margin: 50px 0;
}
.links:hover {
  color: #e1a87a;
  text-decoration: none;
}

.copyright {
  color: #7a7d7f;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.iconContainer {
  height: 35px;
  width: 35px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 25px;
  color: black;
}

.shrink {
  transition: all .2s ease-in-out;
}
.shrink:hover {
  transform: scale(0.9);
}

.smallerIcon {
  font-size: 20px;
}

@media screen and (max-width: 560px) {
  .linksContainer {
    flex-direction: column;
  }
}