/********** Nav Bar **********/

.navBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

/********** Footer **********/

.footerContainer {
  height: 60vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}