/********** Nav Bar **********/

.navBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

/********** Footer **********/

.footerContainer {
  height: 60vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.footerTitle {
  color: white;
  font-size: 3.2em;
}

.links {
  color: white;
  margin: 50px 0;
}

.copyright {
  color: #7a7d7f;
}

.hideContainer {
  position: relative;
  border: 1px solid white;
}

.hide {
  height: 40px;
  width: 40px;
  background: white;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  z-index: ;
}

.instagramContainer {
  height: 35px;
  width: 35px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram {
  height: 25px;
  width: 25px
}