/********** Intro **********/

.imageContainer {
  position: relative;
  background: black;
}

.introImage {
  opacity: .4;
}

.imageTextContainer {
  position: absolute;
  top: 20%;
  left: 6%;
  color: white;
}

.imageTitle {
  font-size: 6vw;
}

.resumeDownload {
  border: 1px solid #e1a87a;
  padding: 15px;
  color: white;
  position: absolute;
  top: 120%;
}
.resumeDownload:hover {
  text-decoration: none;
  color: black;
  background: #e1a87a;
}

/********** Contact Form **********/

.contactFormContainer {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.questionsContainer {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 50px;
}

.questionContainer {
  width: 33%;
  margin: 0 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.formContainer {
  display: flex;
  justify-content: center;
  padding: 50px;
  height: 500px;
  position: relative;
  border: 1px solid #e1a87a;
  background: white;
}

.formError {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: .8em;
  color: red;
}

.formMiniContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  font-family: 'Raleway', sans-serif;
}

.firstLastFields {
  display: flex;
  justify-content: space-between;
}

.nameInputsContainer {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.nameInputs {
  height: 2.2em;
  width: 100%;
  border: 1px solid #C4C4C4;
  padding: 5px;
}

.emailInput {
  width: 100%;
  height: 2em;
  border: 1px solid #C4C4C4;
  padding: 5px;
}

.contentInput {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #C4C4C4;
  padding: 5px;
}

.submitContact {
  border: 1px solid #e1a87a;
  color: black;
  padding: 20px;
  margin: 0 auto;
  bottom: 10vh;
  background: white;
}
.submitContact:hover {
  text-decoration: none;
  background-color: black;
  color: #e1a87a;
  border-color: black;
}