/********** Intro **********/

.imageContainer {
  position: relative;
  background: black;
}

.introImage {
  opacity: .4;
}

.imageTextContainer {
  position: absolute;
  top: 20%;
  left: 6%;
  color: white;
}

.imageTitle {
  font-size: 6vw;
}

.resumeDownload {
  border: 1px solid #e1a87a;
  padding: 15px;
  color: white;
  position: absolute;
  top: 120%;
}
.resumeDownload:hover {
  text-decoration: none;
  color: black;
  background: #e1a87a;
}

/********** Contact Form **********/

.contactFormContainer {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionsContainer {
  display: flex;
  width: 80%;
}

.questionContainer {
  border: 1px solid black;
  text-align: right;
}

.formContainer {
  display: flex;
  flex-direction: column;
}