html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  letter-spacing: .5px;
  line-height: 2em;
  color: gray;
}

ul {
  line-height: 2.5em;
}

li {
  font-size: 1.1em;
}

.modal-open {
  overflow: hidden;
}