/********** Introduction **********/

.imageContainer {
  position: relative;
}

.imageTextContainer {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
}

.imageTitle {
  font-size: 3.5vw;
}

.imageText {
  font-size: 2vw;
}

/********** Passion **********/

.passionContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.selfPortraitContainer {
  max-width: 30%;
  margin: 0 80px 0 0;
}

.selfPortrait {
  max-width: 100%;
  height: auto;
}

.passionInfoContainer {
  margin: 0 0 0 80px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passionTitle {
  font-size: 7vh;
}

.passionDesc {
  font-size: 3vh;
}

/********** AboutMe **********/

.aboutMeContainer {
  color: white;
  background-color: #0d0d0d;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeCategories {
  color: #e1a87a;
}