/********** Introduction **********/

.imageContainer {
  position: relative;
}

.imageTextContainer {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
}

.imageTitle {
  font-size: 3.5vw;
}

.imageText {
  font-size: 2vw;
}

/********** Passion **********/

.passionContainer1 {
  display: flex;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 120vh;
  max-height: 1200px;
}
@media screen and (max-width: 750px) {
  .passionContainer1 {
    flex-direction: column;
  }
}

.selfPortraitContainer {
  width: 30vw;
  max-width: 500px;
}

.selfPortrait {
  max-width: 100%;
  height: auto;
  border: 5px solid black;
}

.passionInfoContainer {
  width: 40vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passionTitle {
  font-size: 2em;
}

.passionDesc {
  font-size: 1.2em;
}

/********** AboutMe **********/

.aboutMeContainer {
  color: white;
  background-color: #0d0d0d;
  height: 120vh;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 750px) {
  .aboutMeContainer {
    height: 170vh;
    max-height: 2000px;
  }
}

.aboutMeTitle {
  position: absolute;
  margin: 0 auto;
  top: 20vh;
  font-size: 4em;
}

.aboutMeInfoContainer {
  margin: 0 100px;
  display: flex;
}
@media screen and (max-width: 750px) {
  .aboutMeInfoContainer {
    flex-direction: column;
  }
}

.aboutMeDescContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  max-width: 500px;
  width: 300px;
  text-align: center;
}

.aboutMeCategories {
  color: #e1a87a;
  font-size: 2em;
}

.aboutMeDescText {
  line-height: 1.8em;
  font-size: 1.2em;
}

.buttonLearnMore {
  border: 1px solid #e1a87a;
  color: white;
  padding: 20px;
  position: absolute;
  margin: 0 auto;
  bottom: 20vh;
}
.buttonLearnMore:hover {
  text-decoration: none;
  background-color: #e1a87a;
  color: black;
}

/********** Projects **********/

.projectsContainer {
  height: 120vh;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 750px) {
  .projectsContainer {
    height: 200vh;
    max-height: 2000px;
  }
}

.projectsTitle {
  position: absolute;
  top: 10vh;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
}
@media screen and (max-width: 750px) {
  .cardContainer {
    flex-direction: column;
  }
}

.card {
  width: 18rem;
  margin: 20px;
}

.buttonSeeProjects {
  border: 1px solid #e1a87a;
  color: black;
  padding: 20px;
  position: absolute;
  margin: 0 auto;
  bottom: 10vh;
}
.buttonSeeProjects:hover {
  text-decoration: none;
  background-color: black;
  color: #e1a87a;
  border: none;
}

/********** Contact **********/

.contactContainer {
  height: 60vh;
  width: 100%;
  max-height: 600px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; */
}

.contactBackgroundImage {
  width: 100%;
  height: auto;
  overflow: hidden;
}