/********** Introduction **********/

.imageContainer {
  position: relative;
}

.imageTextContainer {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
}

.imageTitle {
  font-size: 3.5vw;
}

.imageText {
  font-size: 2vw;
}

/********** Passion **********/

.passionContainer1 {
  display: flex;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 120vh;
  max-height: 1200px;
}
@media screen and (max-width: 750px) {
  .passionContainer1 {
    flex-direction: column;
  }
}

.selfPortraitContainer {
  width: 30vw;
  max-width: 500px;
}

.selfPortrait {
  max-width: 100%;
  height: auto;
  border: 5px solid black;
}

.passionInfoContainer {
  width: 40vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passionTitle {
  font-size: max(3vw, 30px);
}

.passionDesc {
  font-size: max(1.5vw, 15px);
}

/********** AboutMe **********/

.aboutMeContainer {
  color: white;
  background-color: #0d0d0d;
  height: 120vh;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeTitle {
  margin-bottom: 150px;
}

.aboutMeInfoContainer {
  margin: 0 100px;
  display: flex;
}
@media screen and (max-width: 750px) {
  .aboutMeInfoContainer {
    flex-direction: column;
  }
}

.aboutMeDescContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  max-width: 500px;
}

.aboutMeCategories {
  color: #e1a87a;
}

.aboutMeDescText {
  line-height: 1.8em;
}

.buttonLearnMore {
  border: 1px solid #e1a87a;
  color: white;
  padding: 20px;
  margin-top: 100px;
}
.buttonLearnMore:hover {
  text-decoration: none;
  background-color: #e1a87a;
  color: black;
}